<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="dm-visor-cuentas">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <iron-ajax
      id="getAccounts"
      url="http://apitechumontse2-apitechufinal.a3c1.starter-us-west-1.openshiftapps.com/apitechu/v2/users/{{id}}/accounts"
      content-type="application/json"
      handle-as="json"
      on-response="manageGetAccountsResponse"
      on-error="showError">
    </iron-ajax>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DmVisorCuentas extends Polymer.Element {
      static get is() { return 'dm-visor-cuentas'; }
      static get properties() {
        return {
          id: {
            type: Number
          }
        };
      }
      /*A esta función se llama desde gestor-evento cuando el usuario desea ver sus cuentas.
      Recibe como parametro el id del usuario del cual se quieren obtener sus cuentas*/
      callGetAccounts(data){
        this.id=data;
        this.$.getAccounts.generateRequest();
      }

      /*Esta función recibe la respuesta del api. El contenido de la misma esta en la variable data.
      Se envia dicha info a gestor-evento a través de un custom event para que envie los datos
      al componente visual*/
      manageGetAccountsResponse(data) {
        this.dispatchEvent(
            new CustomEvent(
              "myeventlistaccountsresponse",{
                "detail":{
                  "id":data.detail.response.id,
                  "message":data.detail.response.message,
                  "accounts":data.detail.response.accounts
                }
              }
            )
        );
      }

      /*A esta función se llama cuando la llamada al api con iron-ajax ha sufrido algún error
      Envia al front un mensaje de error indicando lo ocurrido*/
      showError(error){
        console.log("Hubo un error en el dm-visor-cuentas "+error);
        this.dispatchEvent(
            new CustomEvent(
              "myeventlistaccountsresponse",{
                "detail":{
                  "id":-400,
                  "message":"Error en el sistema por favor contacte con su gestor"
                }
              }
            )
        );
      }
    }

    window.customElements.define(DmVisorCuentas.is, DmVisorCuentas);
  </script>
</dom-module>
