<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="/bower_components/vaadin-grid/vaadin-grid-sorter.html">
<link rel="import" href="../shared-styles/shared-styles.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">

<dom-module id="visor-criptodivisa">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
      }
    </style>
    <div class="marginAll">
    <button class="buttonTransactionsViews" name="backToAccountsName" on-click="backToAccounts"><iron-icon class="iconButton" icon="icons:arrow-back"></iron-icon>Cuentas</button>
    <iron-form name="formCheckPriceName" id="formCheckPrice">
      <form>
        <vaadin-combo-box name="cryptoCurrencyComboName"  id="cryptoCurrencyCombo"  placeholder="Criptodivisa" item-label-path="name" item-value-path="name" items="[[comboCryptocurrency]]" on-selected-item-changed="changeCryptocurrency"  error-message="Campo obligatorio" required>
        </vaadin-combo-box>
        <button class="buttonTransactionsViews" name="checkPriceName" on-click="checkPriceRequest">Consultar precio</button>
        <h3 formnovalidate>[[price]]</h3>
      </form>
    </iron-form>
    </br>
    </br>
    <vaadin-grid hidden$=[[showErrorIcon]] id="cryptocurrency" name="cryptocurrency"
      aria-label="cryptocurrency" items="[[cryptoInfo]]" multi-sort="true">
      <vaadin-grid-column  width="15%">
        <template class="header">
          <vaadin-grid-sorter path="symbol">Divisa</vaadin-grid-sorter>
        </template>
        <template><div class="bodycell">[[item.symbol]]</div></template>
      </vaadin-grid-column>
      <vaadin-grid-column width="15%">
        <template class="header">
          <vaadin-grid-sorter path="weightedAvgPrice">Precio</br>Medio</vaadin-grid-sorter>
        </template>
        <template><div class="bodycell">[[item.weightedAvgPrice]]</div></template>
      </vaadin-grid-column>
      <vaadin-grid-column width="15%">
        <template class="header">
          <vaadin-grid-sorter path="lastPrice">Último</br>Precio</vaadin-grid-sorter>
        </template>
        <template><div class="bodycell">[[item.lastPrice]]</div></template>
      </vaadin-grid-column>
      <vaadin-grid-column width="15%">
        <template class="header">
          <vaadin-grid-sorter path="openPrice">Precio</br>Apertura</vaadin-grid-sorter>
        </template>
        <template><div class="bodycell">[[item.openPrice]]</div></template>
      </vaadin-grid-column>
      <vaadin-grid-column width="15%">
        <template class="header">
          <vaadin-grid-sorter path="highPrice">Precio</br>más alto</vaadin-grid-sorter>
        </template>
        <template><div class="bodycell">[[item.highPrice]]</div></template>
      </vaadin-grid-column>
      <vaadin-grid-column width="15%">
        <template class="header">
          <vaadin-grid-sorter path="lowPrice">Precio</br>más bajo</vaadin-grid-sorter>
        </template>
        <template><div class="bodycell">[[item.lowPrice]]</div></template>
      </vaadin-grid-column>
    </vaadin-grid>
    <h3 class="errorMessageStyle"><iron-icon class="iconWarning" hidden$=[[!showErrorIcon]] icon="icons:error"></iron-icon>[[errorMessage]]</h3>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCriptodivisa extends Polymer.Element {
      static get is() { return 'visor-criptodivisa'; }
      static get properties() {
        return {
          errorMessage:{
            type : String,
            value : ""
          },
          showErrorIcon:{
            type : Boolean,
            value : false
          },
          cryptoInfo:{
            type: Array
          },comboCryptocurrency:{
            type: Object,
            value: [{name:'LTCBTC'},{name:'ETHBTC'},{name:'XRPBTC'}]
          },cryptocurrencyToCheck:{
            type: String,
            value: ""
          },
          price:{
            type: Number
          }
        };
      }
      //request
      /*A esta función se llama cuando el usuario pulsa el botón Cuentas.
      Se envia un custom-event a gestor-evento para que cambie la vista a visor-cuentas*/
      backToAccounts(e){
        this.dispatchEvent(
            new CustomEvent(
              "myeventbacktoaccountsfromcrypto",{

              }
            )
        );
      }
      /*A esta función se llama si el usuario pulsa el botón "Consultar precio".
      Se valida que el valor seleccionado en el combo sea correcto y si es así se envia un
      custom-event a gestor-evento para que haga la llamada al API de consulta de
      precio de criptodivisas.*/
      checkPriceRequest(e){
        if (this.$.formCheckPrice.validate()){
          this.dispatchEvent(
              new CustomEvent(
                "myeventcheckpricerequest",{
                  "detail":{
                    "symbol": this.cryptocurrencyToCheck
                  }
                }
              )
          );
        }
      }
      /*A esta función se llama cuando cambia el valor del combo criptodivisa.*/
      changeCryptocurrency(e){
        this.$.cryptoCurrencyCombo.validate();
        if (this.$.cryptoCurrencyCombo.checkValidity()){
          this.cryptocurrencyToCheck = this.$.cryptoCurrencyCombo.selectedItem.name;
        }
      }
      //response
      /*Esta función es llamada desde gestor-evento cuando se recibe la respuesta del api
      realizada previamiente para cargar la tabla con la info de las criptodivisas.*/
      receiveCryptocurrencyResponse(data){
        this.$.formCheckPrice.reset();
        this.price=undefined;
        this.errorMessage=data.message;
        if (data.id<0){
          this.showErrorIcon=true;
          this.cryptoInfo=[];
        }else{
          this.showErrorIcon=false;
          this.cryptoInfo=data.cryptoInfo;
        }
      }
      /*Esta función es llamada desde gestor-evento cuando se recibe la respuesta del api
      realizada previamiente para mostrar el precio de una criptodivisa previmanete seleccionado.*/
      receiveCryptocurrencyPriceResponse(data){
        this.errorMessage=data.message;
        if (data.id<0) {
          this.showErrorIcon=true;
        }else{
          this.price = data.price;
        }
      }
    }

    window.customElements.define(VisorCriptodivisa.is, VisorCriptodivisa);
  </script>
</dom-module>
