<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="dm-visor-criptodivisa-precio">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <iron-ajax
      id="getCriptocurrencyPrice"
      url="http://apitechumontse2-apitechufinal.a3c1.starter-us-west-1.openshiftapps.com/apitechu/v2/cryptocurrency/{{symbol}}"
      content-type="application/json"
      handle-as="json"
      on-response="manageGetCriptocurrerncyPriceResponse"
      on-error="showError">
    </iron-ajax>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DmVisorCriptodivisaPrecio extends Polymer.Element {
      static get is() { return 'dm-visor-criptodivisa-precio'; }
      static get properties() {
        return {
          symbol: {
            type: String
          }
        };
      }
      /*A esta función se llama desde gestor-evento cuando el usuario desea consultar el precio
      de la divisa que se recibe como parámetro.*/
      callGetCriptocurrencyPrice(data){
        //hacemos el envio
        this.symbol=data.symbol;
        this.$.getCriptocurrencyPrice.generateRequest();
      }

      /*Esta función recibe la respuesta del api. El contenido de la misma esta en la variable data.
      Se envia dicha info a gestor-evento a través de un custom event para que envie los datos
      al componente visual*/
      manageGetCriptocurrerncyPriceResponse(data) {
        this.dispatchEvent(
            new CustomEvent(
              "myeventcriptocurrencypriceresponse",{
                "detail":{
                  "id":data.detail.response.id,
                  "message":data.detail.response.message,
                  "price":data.detail.response.price
                }
              }
            )
        );
      }

      /*A esta función se llama cuando la llamada al api con iron-ajax ha sufrido algún error
      Envia al front un mensaje de error indicando lo ocurrido*/
      showError(error){
        console.log("Hubo un error en el dm-visor-criptodivisa-price "+error);
        this.dispatchEvent(
            new CustomEvent(
              "myeventcriptocurrencypriceresponse",{
                "detail":{
                  "id":-400,
                  "message":"Error en el sistema por favor contacte con su gestor"
                }
              }
            )
        );
      }
    }

    window.customElements.define(DmVisorCriptodivisaPrecio.is, DmVisorCriptodivisaPrecio);
  </script>
</dom-module>
