<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../shared-styles/shared-styles.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">

<dom-module id="login-usuario">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 25%;
        transform: translate(-50%, -50%);
      }

      .formStyles{
        color: #043263;
        border: 1.5px solid #043263;
        padding: 8%;
        --iron-icon-height: 10%;
        --iron-icon-width: 10%;
      }

      #newClientButton:hover {
        background-color: #49A5E6;
      }
    </style>
    <div>
      <div class="formStyles">
        <h1>Acceso clientes</h1>
        </br>
        <iron-form name="formLogin" id="formLogin">
          <form>
            <iron-icon icon="icons:mail" formnovalidate></iron-icon>
            <input name="emailInput" type="email" placeholder="email"  maxlength="30" value ="{{email::input}}" required />
            <iron-icon icon="icons:lock" formnovalidate></iron-icon>
            <input name="passwordInput" type="password" placeholder="password" value ="{{password::input}}" required/>
            <button id="loginButton" on-click="sendLoginDataRequest">Login</button>
            </br>
            </br>
          </form>
        </iron-form>
          <button class="buttonAsLink" id="newClientButton" on-click="viewNewUser"><iron-icon icon="icons:account-circle"></iron-icon>Hazte cliente</button>
          <h3 class="errorMessageStyle"><iron-icon hidden$=[[!showErrorIcon]] icon="icons:error"></iron-icon>[[errorMessage]]</h3>
          <h3><iron-icon hidden$=[[!showNotifyIcon]] icon="icons:announcement"></iron-icon>[[notifyMessage]]</h3>
      </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          id: {
            type: Number
          },
          email: {
            type: String
          },
          password: {
            type: String
          },
          logged: {
            type: Boolean,
          },
          errorMessage: {
            type: String,
            value: ""
          },showErrorIcon:{
            type:Boolean,
            value:false
          },
          notifyMessage:{
            type: String,
            value: ""
          },showNotifyIcon:{
            type:Boolean,
            value:false
          }
        };
      }

      /*requests*/

      //Mando evento a gestor evento para que cambie la vista al formulario de alta.
      viewNewUser(e){
          this.dispatchEvent(
              new CustomEvent(
                "myeventnewuser",{
                }
              )
          );
      }
      //envio datos de login al dm para que llame al API servicio de login.
      sendLoginDataRequest(e){
        //reseteo los valores de properties de error por si esrtuvieran rellenas de un intento de login anterior
        this.errorMessage = "";
        this.notifyMessage = "";
        this.showErrorIcon = false;
        this.showNotifyIcon = false;
        //envio petición de login a la API si los campos del formulario son correctos
        if (this.$.formLogin.validate()){
        this.dispatchEvent(
            new CustomEvent(
              "myeventlogin",{
                "detail":{
                  "email":this.email,
                  "password":this.password
                }
              }
            )
        );
      }else {
        console.log("Error formulario login");
      }
    }

    /*responses*/

    //A esta funcion solo se llama si ha habido algún error en el proceso de login
    //se recoge error que devuelve la api y se muestra al usuario
    receiveLoginResponse(data){
      this.errorMessage=data.message;
      this.showErrorIcon = true;
    }
    //A esta función se llama cuando se ha creado un usuario.
    //Si este se ha creado correctamente. Se muestra la pagina de login para que entre en la web
    showNewUserResponse(data){
      //reseteo los valores de properties de error por si esrtuvieran rellenas de un intento de login anterior
      this.email="";
      this.password="";
      this.errorMessage="";
      this.notifyMessage="Usuario dado de alta con exito.";
      this.showErrorIcon = false;
      this.showNotifyIcon = true;
    }
  }

    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
