<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="/bower_components/vaadin-grid/vaadin-grid-sorter.html">
<link rel="import" href="../shared-styles/shared-styles.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">

<dom-module id="visor-movimientos">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
      }
      .lineButtons{
        margin-bottom:2%;
      }
      .buttonTransactionsListView {
        padding:1%;
        width:20%;
      }

    </style>
    <div class="marginAll">
      <h2 class="errorMessageStyle"><iron-icon class="iconWarning" hidden$=[[!showErrorIcon]] icon="icons:error"></iron-icon>[[errorMessage]]</h2>
      <div class="lineButtons">
        <button class="buttonTransactionsListView" on-click="createTransaction"><iron-icon class="iconButton" icon="icons:create"></iron-icon>Crear movimiento</button>
        <button class="buttonTransactionsListView" on-click="goBackAccounts"><iron-icon class="iconButton" icon="icons:arrow-back"></iron-icon>Cuentas</button>
      </div>
      <div hidden$=[[showErrorIcon]]>
        <h2>Movimientos cuenta [[iban]]</h2>
        <vaadin-grid id="movimientos" aria-label="movimientos" items="[[transactions]]">
          <vaadin-grid-column width="50%">
            <template class="header">
              <vaadin-grid-sorter path="timestamp">Fecha/Hora</vaadin-grid-sorter>
            </template>
            <template><div class="bodycell">[[item.timestamp]]</div></template>
          </vaadin-grid-column>
          <vaadin-grid-column width="30%">
            <template class="header">
              <vaadin-grid-sorter path="transactionName">Tipo de movimiento</vaadin-grid-sorter>
            </template>
            <template><div class="bodycell">[[item.transactionName]]</div></template>
          </vaadin-grid-column>
          <vaadin-grid-column width="20%">
            <template class="header">
              <vaadin-grid-sorter path="amount">Cantidad(€)</vaadin-grid-sorter>
            </template>
            <template><div class="bodycell">[[item.amount]]</div></template>
          </vaadin-grid-column>
        </vaadin-grid>
      </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorMovimientos extends Polymer.Element {
      static get is() { return 'visor-movimientos'; }
      static get properties() {
        return {
          transactions: {
            type: Array
          },
          errorMessage:{
            type : String,
            value : ""
          },
          iban:{
            type: String
          },
          balance:{
            type: Number
          },
          comboValues:{
            type: Object,
            value: [
              {name: 'Ingreso', value: 1},
              {name: 'Cobro', value: 2},
              {name: 'Transferencia', value: 3}
            ]
          },
          nameTransactionType:{
            type: String
          },
          showErrorIcon:{
            type: Boolean,
            value: false
          }
        };
      }

      //request
      /*Esta función se ejecuta si el usuario pulsa el botón crear movimiento.
      Envía un custom-event al gestior-evento para que cambie la vista a la de alta-movimiento*/
      createTransaction(e){
        this.dispatchEvent(
            new CustomEvent(
              "myeventnewtransactions",{
                "detail":{

                }
              }
            )
        );
      }
      /*Esta función se ejecuta si el usuario pulsa el botón cuentas.
      Envía un custom-event al gestior-evento para que cambie la vista a la de visor-cuentas*/
      goBackAccounts(e){
        this.dispatchEvent(
            new CustomEvent(
              "myeventgobackaccounts",{
              }
            )
        );
      }

      //responses
      receiveTransactionsResponse(data){
        this.transactions = [];
        this.errorMessage = data.message;
        if (data.id<0){
          this.showErrorIcon=true;
        }else if (data.transactions.length==0){
          this.showErrorIcon=true;
        }else if (data.transactions.length>0){
          this.errorMessage = "";
          this.showErrorIcon=false;
          var i=0;
          while (i<data.transactions.length){
            switch(data.transactions[i].transactionType) {
              case 1:
                data.transactions[i].transactionName = "Ingreso";
                break;
              case 2:
                data.transactions[i].transactionName = "Cobro";
                break;
              case 3:
                data.transactions[i].transactionName = "Transferencia";
                break;
              default:
            }
            i = i +1;
          }
          this.transactions = data.transactions;
        }
        this.iban= data.iban;
      }

    }

    window.customElements.define(VisorMovimientos.is, VisorMovimientos);
  </script>
</dom-module>
