<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="/bower_components/vaadin-grid/vaadin-grid-sorter.html">
<link rel="import" href="../shared-styles/shared-styles.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">

<dom-module id="visor-cuentas">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
      }

    </style>
    <div class="marginAll">
    <button hidden$=[[showErrorIcon]] class="buttonTransactionsViews"  on-click="goCriptocurrency">Criptodivisa</button>
    <vaadin-grid hidden$=[[showErrorIcon]] id="cuentas" items="[[accounts]]">
      <vaadin-grid-column  width="35%">
        <template class="header">
        <vaadin-grid-sorter path="iban">Iban</vaadin-grid-sorter>
        </template>
        <template><div class="bodycell">[[item.iban]]</div></template>
      </vaadin-grid-column>
      <vaadin-grid-column width="10%">
        <template class="header">
          <vaadin-grid-sorter path="balance">Saldo</vaadin-grid-sorter>
        </template>
        <template><div class="bodycell">[[item.balance]]</div></template>
      </vaadin-grid-column>
      <vaadin-grid-column>
        <template>
        <div class="bodycell"><button class="buttonAsLink" width="20%" on-click="getTransactionsRequest" flex="0"><iron-icon class="lenghtIcon" icon="icons:description"></iron-icon>Consultar</button></div>
      </template>
      </vaadin-grid-column>
      <vaadin-grid-column>
        <template>
          <div class="bodycell"><button class="buttonAsLink" width="35%" on-click="goCreateTransaction" flex="0"><iron-icon icon="icons:create"></iron-icon>Crear Movimiento</button></div>
        </template>
      </vaadin-grid-column>
    </vaadin-grid>
  <h2 class="errorMessageStyle"><iron-icon class="iconWarning" hidden$=[[!showErrorIcon]] icon="icons:error"></iron-icon>[[errorMessage]]</h2>
</div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {
          accounts: {
            type: Array
          },
          errorMessage:{
            type : String,
            value : ""
          },
          showErrorIcon:{
            type : Boolean,
            value : false
          }
        };
      }

      //request
      /*A esta función se llama cuando el usuario pulsa el botón crear movimiento.
      Se crea un custom event que se enviará a gestor-evento para que cambie la vista
      a la de alta-movimiento para que el usuario cree la transacción deseada.
      Se envian los datos de la cuenta en la cual se va a crear el movimiento*/
      goCreateTransaction(e){
        this.dispatchEvent(
            new CustomEvent(
              "myeventnewtransactionaccount",{
                "detail":{
                  "iban":e.model.item.iban,
                  "balance":e.model.item.balance
                }
              }
            )
        );

      }

      /*A esta función se llama cuando el usuario pulsa el botón criptodivisa.
      Se crea un custom event que se enviará a gestor-evento para que llame al servicio de consulta
      de criptodivisas a través del datamanger correspondiente */
      goCriptocurrency(e){
        this.dispatchEvent(
            new CustomEvent(
              "myeventgocriptocurrency",{
              }
            )
        );

      }

      /*A esta función se llama cuando el usuario pulsa el botón consultar movimiento.
      Se crea un custom event que se enviará a gestor-evento para que llame al
      servicio de consultas de movimientos, a través del datamanger correspondiente.
      Se envian los datos de la cuenta de la que se desean consultar los movimientos*/
      getTransactionsRequest(e){
        this.dispatchEvent(
            new CustomEvent(
              "myeventgettransactions",{
                "detail":{
                  "iban":e.model.item.iban,
                  "balance":e.model.item.balance
                }
              }
            )
        );
      }

      //responses
      /*A esta función se llama desde gestor-evento, cada vez que el usuario desea ir la vista de
      cuentas (después de login, vuelta atrás desde consulta movimiento, visor criptodivisas o alta movimiento)
      el usuario pulsa el botón consultar movimiento.
      Se resetean las propertines de error por si estuvieran relleneas de una request anterior.
      Recibe los datos que ha devuelto la llama al API al servicio de consulta de cuentas*/

      receiveAccountsResponse(data){
        this.errorMessage="";
        this.showErrorIcon=false;
        if (data.id<0){
          this.errorMessage= data.message;
          this.showErrorIcon=true;
          this.accounts = [];
        }else {
          this.accounts = data.accounts;
          this.errorMessage=data.message;
          if (this.accounts.length==0) {
            this.showErrorIcon=true;
          }
        }
      }

    }

    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
