<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../shared-styles/shared-styles.html">
<link rel="import" href="../../bower_components/iron-icons/social-icons.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">

<dom-module id="logout-component">
  <template>
  <style include="shared-styles">
    :host {
      display: block;
    }
    #logOutButton{
      width:auto;
      text-align:right;
    }
    .logoutStyle{
      float: right;
      text-align:right;
      color: #043263;
    }
    iron-icon{
      --iron-icon-height: 5%;
      --iron-icon-width: 5%;
    }

</style>

<div class="logoutStyle">
  <h3 class="errorMessageStyle"><iron-icon class="iconWarning" hidden$=[[!showErrorIcon]] icon="icons:error"></iron-icon>[[errorMessage]]</span>
  <button id="logOutButton" class="buttonAsLink" on-click="manageLogout"><iron-icon icon="social:person"></iron-icon>logout</button>
</div>
</br>
</template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LogoutComponent extends Polymer.Element {
      static get is() { return 'logout-component'; }
      static get properties() {
        return {
          errorMessage:{
            type: String,
            value: ""
          },
          showErrorIcon:{
            type: Boolean,
            value: false
          }
        };
      }

      //senders
      //A esta función se llama cuando el ususario pulsa el botón logout.
      //Se envia un custom-event a gestor-evento para que haga la llamada al API al servicio de logout
      manageLogout(e){
        this.dispatchEvent(
            new CustomEvent(
              "myeventsendlogout",{
                "detail":{

                }
              }
            )
        );
      }
      //A esta función se llama desde gestor-evento,solo cuando el logout no se ha realizado con exito.
      //Recibe la respuesta enviada por el API u se la muestra al usuario
      getLogoutErrorResponse(data){
        //-100 el usuario no esta logado
        //-300 El usuario no existe
        //-400 Otros. Contactar con gestor.
        this.errorMessage=data.message;
        this.showErrorIcon=true;
      }
    }

    window.customElements.define(LogoutComponent.is, LogoutComponent);
  </script>
</dom-module>
