<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="dm-visor-criptodivisa">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <iron-ajax
      id="getCriptocurrency"
      url="http://apitechumontse2-apitechufinal.a3c1.starter-us-west-1.openshiftapps.com/apitechu/v2/cryptocurrency"
      content-type="application/json"
      handle-as="json"
      on-response="manageGetCriptocurrerncyResponse"
      on-error="showError">
    </iron-ajax>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DmVisorCriptodivisa extends Polymer.Element {
      static get is() { return 'dm-visor-criptodivisa'; }
      static get properties() {
        return {
        };
      }

      /*A esta función se llama desde gestor-evento cuando el usuario pulsa el botón
      Criptodvisa en visor-cuentas.*/
      callGetCriptocurrencyInfo(){
        this.$.getCriptocurrency.generateRequest();
      }

      /*Esta función recibe la respuesta del api. El contenido de la misma esta en la variable data.
      Se envia dicha info a gestor-evento a través de un custom event para que envie los datos
      al componente visual*/
      manageGetCriptocurrerncyResponse(data) {
        this.dispatchEvent(
            new CustomEvent(
              "myeventcriptocurrencyresponse",{
                "detail":{
                  "id":data.detail.response.id,
                  "message":data.detail.response.message,
                  "cryptoInfo":data.detail.response.cryptoInfo
                }
              }
            )
        );
      }

      /*A esta función se llama cuando la llamada al api con iron-ajax ha sufrido algún error
      Envia al front un mensaje de error indicando lo ocurrido*/
      showError(error){
        console.log("Hubo un error en el dm-visor-criptodivisa "+error);
        this.dispatchEvent(
            new CustomEvent(
              "myeventcriptocurrencyresponse",{
                "detail":{
                  "id":-400,
                  "message":"Error en el sistema por favor contacte con su gestor",
                }
              }
            )
        );

      }
    }

    window.customElements.define(DmVisorCriptodivisa.is, DmVisorCriptodivisa);
  </script>
</dom-module>
