<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="dm-alta-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <iron-ajax
      id="doNewUser"
      method = "POST"
      url="http://apitechumontse2-apitechufinal.a3c1.starter-us-west-1.openshiftapps.com/apitechu/v2/users"
      content-type="application/json"
      handle-as="json"
      on-response="manageCreateUserResponse"
      on-error="showError">
    </iron-ajax>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DmAltaUsuario extends Polymer.Element {
      static get is() { return 'dm-alta-usuario'; }
      static get properties() {
        return {
        };
      }
      /*A esta función se llama desde gestor-evento cuando este componente recibe el custom event del componente
      alta-usuario*/
      createNewUser(data){
        var newUser = {
          "first_name":data.first_name,
          "last_name": data.last_name,
          "email": data.email,
          "password": data.password
        };
        this.$.doNewUser.body = JSON.stringify(newUser);
        this.$.doNewUser.generateRequest();
      }

      /*Esta función recibe la respuesta del api. El contenido de la misma esta en la variable data.
      Se envia dicha info a gestor-evento a través de un custom event para que envie los datos al componente visual*/
      manageCreateUserResponse(data) {
        this.dispatchEvent(
            new CustomEvent(
              "myeventresponsenewuser",{
                "detail":{
                  "id":data.detail.response.id,
                  "message":data.detail.response.message
                }
              }
            )
        );
      }

      /*A esta función se llama cuando la llamada al api con iron-ajax ha sufrido algún error
      Envia al front un mensaje de error indicando lo ocurrido*/
      showError(error){
        console.log("Hubo un error en el dm-alta-usuarios "+error);
        this.dispatchEvent(
            new CustomEvent(
              "myeventresponsenewuser",{
                "detail":{
                  "id":-400,
                  "message":"Error en el sistema por favor contacte con su gestor"
                }
              }
            )
        );
      }
    }

    window.customElements.define(DmAltaUsuario.is, DmAltaUsuario);
  </script>
</dom-module>
