<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../../bower_components/app-layout/app-toolbar/app-toolbar.html">
<!--Datamanagers that access to APIRES-->
<link rel="import" href="../dm-login-usuario/dm-login-usuario.html">
<link rel="import" href="../dm-visor-cuentas/dm-visor-cuentas.html">
<link rel="import" href="../dm-visor-criptodivisa/dm-visor-criptodivisa.html">
<link rel="import" href="../dm-visor-criptodivisa-precio/dm-visor-criptodivisa-precio.html">
<link rel="import" href="../dm-visor-movimientos/dm-visor-movimientos.html">
<link rel="import" href="../dm-alta-usuario/dm-alta-usuario.html">
<link rel="import" href="../dm-alta-movimiento/dm-alta-movimiento.html">
<link rel="import" href="../dm-logout/dm-logout.html">
<!--Front views-->
<link rel="import" href="../login-usuario/login-usuario.html">
<link rel="import" href="../visor-cuentas/visor-cuentas.html">
<link rel="import" href="../visor-criptodivisa/visor-criptodivisa.html">
<link rel="import" href="../visor-movimientos/visor-movimientos.html">
<link rel="import" href="../alta-usuario/alta-usuario.html">
<link rel="import" href="../alta-movimiento/alta-movimiento.html">
<link rel="import" href="../logout-component/logout-component.html">

<dom-module id="gestor-evento">
  <template>
    <style>
      :host {
        display: block;
      }
      #background{
        width: 10%;
        height: 50%;
        margin-top:1%
      }

      app-drawer-layout:not([narrow]) [drawer-toggle] {
        display: none;
      }
    </style>

    <app-drawer-layout fullbleed narrow="{{narrow}}">
      <app-header-layout has-scrolling-region>
        <app-header slot="header" fixed >
            <app-toolbar>
              <div main-title><img id="background" src="https://s3-eu-west-1.amazonaws.com/proyectoapitechu/logoFinalMolon.png"></div>
              <template is="dom-if" if="{{logged}}" restamp="true">
                <logout-component id="logoutFront" on-myeventsendlogout="processLogoutRequest"></logout-component>
              </template>
            </app-toolbar>
          </app-header>
        <iron-pages selected="{{view}}" attr-for-selected="view">
            <login-usuario view="1" id="loginFront" on-myeventlogin="processLoginRequest" on-myeventnewuser="showNewUserView"></login-usuario>
            <visor-cuentas view="2" id="listAccountFront" on-myeventgettransactions="processGetTransactionsRequest" on-myeventnewtransactionaccount="processNewTransactionRequest" on-myeventgocriptocurrency="processCriptoCurrencyRequest"></visor-cuentas>
            <alta-usuario view="3" id="newUserFront" on-myeventcreateuser="processNewUserRequest"></alta-usuario>
            <visor-movimientos view="4" id="listTransactionsFront" on-myeventnewtransactions="processNewTransactionRequest" on-myeventgobackaccounts="processGoBackAccountsRequest"></visor-movimientos>
            <alta-movimiento view="5" id="newTransactionFront" on-myeventbackaccounts="cancelNewTransactionRequest" on-myeventcreatetransaction="processCreateTransactionRequest"></alta-movimiento>
            <visor-criptodivisa view="6" id="cryptocurrencyViewer" on-myeventbacktoaccountsfromcrypto="cancelNewTransactionRequest" on-myeventcheckpricerequest="processCheckPriceRequest"></visor-criptodivisa>
          </iron-pages>
    </app-header-layout>
  </app-drawer-layout>

    <dm-login-usuario id="loginManager" on-myeventloginresponse="processLoginResponse"></dm-login-usuario>
    <dm-visor-cuentas id="listAccountManager" on-myeventlistaccountsresponse="processListAccountsResponse" ></dm-visor-cuentas>
    <dm-alta-usuario id="newUserManager" on-myeventresponsenewuser="processNewUserResponse"></dm-alta-usuario>
    <dm-visor-movimientos id="listTransactionManager" on-myeventtransactionslist="processListTransactionsResponse" ></dm-visor-movimientos>
    <dm-alta-movimiento id="newTransactionManager" on-myeventsendnewtransaction="processNewTransactionsResponse"></dm-alta-movimiento>
    <dm-logout id="logoutManager" on-myeventlogutresponse="processLogoutResponse"></dm-logout>
    <dm-visor-criptodivisa id="criptocurrencyInfoManager" on-myeventcriptocurrencyresponse="processCriptocurrencyResponse" ></dm-visor-criptodivisa>
    <dm-visor-criptodivisa-precio id="criptocurrencyPriceInfoManager" on-myeventcriptocurrencypriceresponse="processCriptocurrencyPriceResponse" ></dm-visor-criptodivisa-precio>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */

    class GestorEvento extends Polymer.Element {
      static get is() { return 'gestor-evento'; }
      static get properties() {
        return {
          view: {
            type: Number
          },
          id:{
            type : Number
          },
          iban: {
            type : String
          },
          balance:{
            type: Number
          },
          logged:{
            type: Boolean,
            value: false
          }
        };
      }

      //requests

      /*A este método se llama cuando se recibe el custom-event checkpricerequest de visor-criptodivisa.
      Llama a la función callGetCriptocurrencyPrice del componente dm-visor-criptodivisa-precio pasandole como parámetro
      la criptodivisa para la que se quiere consultar el precio*/
      processCheckPriceRequest(e){
        this.$.criptocurrencyPriceInfoManager.callGetCriptocurrencyPrice(e.detail);
      }

      /*A este método se llama cuando se recibe el custom-event gocriptocurrency de visor-cuentas.
      Llama a la función callGetCriptocurrencyInfo del componente dm-visor-criptodivisa.*/
      processCriptoCurrencyRequest(e){
        this.$.criptocurrencyInfoManager.callGetCriptocurrencyInfo();
      }
      /*A este método se llama cuando se recibe el custom-event sendlogout de logout-component.
      Llama a la función callLogout del componente dm-logout-component para
      hacer logout del usuario pasado como parámetro.*/
      processLogoutRequest(e){
        e.detail.id=this.id;
        this.$.logoutManager.callLogout(e.detail);
      }

      /*A este método se llama cuando se recibe el custom-event createtransaction del componente
      alta-movimento.Llama a la función createNewTransaction del componente dm-alta-movimiento pasandole
      como parámetro los datos del movimiento a dar de alta.
      Se recogen los datos de la cuenta y balance de la misma recogidos previamente de visor-cuentas*/
      processCreateTransactionRequest(e){
        e.detail.iban = this.iban;
        e.detail.balance = this.balance;
        this.$.newTransactionManager.createNewTransaction(e.detail);
      }
      /*A este método se llama cuando se recibe el custom-event backtoaccountsfromcrypto o backtoaccounts de los
      componentes visor-criptodivisas o visor-movimientos respectivamente.
      Cambia la vista a visor-cuentas, no se actualiza la información de las cuentas
      puesto que bajo esta casuistica no se crea ningún movimiento.*/
      cancelNewTransactionRequest(e){
        this.view=2;
      }

      /*A este método se llama cuando se recibe el custom-event gobackaccounts del componente visor-movimientos.
      Se llama de nuevo al API para actualizar los datos de las cuentas, puesto que es porsible que el usuario haya creado
      un nuevo movimiento, por lo que tenemos que actualizar el saldo.*/
      processGoBackAccountsRequest(e){
        this.$.listAccountManager.callGetAccounts(this.id);
      }

      /*A este método se llama cuando se recibe el custom-event newtransactionaccount o newtransactions desde los componentes
      visor-cuentas o visor-movimientos respectivamente.
      Si el evento no es vacio significa que procede de visor-cuentas. En este caso se guardan los datos del iban y saldo que
      pueden ser utilizados en posteriores llamadas de los componentes que muestran información de movimientos.
      Si el evento es vacio significa que viene de visor-movimiento. En este caso ya tenemos los datos de la cuenta, por lo que
      añadimos el iban a la variable que pasaremos a componente alta-movimiento para que se la muestre al usuario.
      Se cambia la vista a alta-movimiento y llama a la función receiveAccountData del componente alta-movimento.*/
      processNewTransactionRequest(e){
        //Si viene de visor cuentas hay que guardar el iban y balance.
        //Si viene de visor movimentos no hace falta ya lo tenemos de antes.
        if ("iban" in e.detail){
          this.iban=e.detail.iban;
          this.balance=e.detail.balance;
        }else{
          e.detail.iban = this.iban;
        }
        this.view=5;
        this.$.newTransactionFront.receiveAccountData(e.detail);
      }
      /*A esta función se llama cuando se recibe el custom-event newuser del componente login-usuario.
      Cambia la vista a alta-usuario*/
      showNewUserView(e){
        this.view=3;
      }

      /*A esta función se llama cuando se recibe el custom-event gettransactions del componente visor-cuentas.
      Se guardan los datos de la cuenta seleccionada por usuario y se llama a la función callGetTransactions
      del componente dm-visor-movimientos para obtener el listado de movimientos de la cuenta que se pasa como parámetro.*/
      processGetTransactionsRequest(e){
        this.iban=e.detail.iban;
        this.balance=e.detail.balance;
        this.$.listTransactionManager.callGetTransactions(e.detail);
      }
      /*A esta función se llama cuando se recibe el custom-event createuser del componente alta-usuario.
      Se llama a la función createNewUser del dm-alta-usuario pasandole los datos del usuario a dar de alta.*/
      processNewUserRequest(e){
        this.$.newUserManager.createNewUser(e.detail);
      }
      /*A esta función se llama cuando se recibe el custom-event login del componente login-usuario.
      Se llama a la función callLogin del dm-login-usuario pasandole los datos del usuario que desea hacer login.*/
      processLoginRequest(e){
        this.$.loginManager.callLogin(e.detail);
      }

      //response
      /*A esta función se llama cuando se recibe el custom-event sendnewtransaction del componente dm-alta-movimiento.
      Recibe los datos que devuelve el API.Si el campo id es disitinto de 0 significa que ha habido algún error.
      En este caso se llama a la función receiveNewTransactionResponse del componente alta-movimiento para mostrar
      el error al usuario.
      Si el id es 0 siginifica que todo ha ido bien por lo que llamamos a la función callGetTransactions del
      componente dm-visor-cuentas para actualizar los movimientos de la cuenta después del ultimo alta. En este caso se cambia la vista a visor-movimientos */
      processNewTransactionsResponse(e){
          e.detail.iban=this.iban;
          if (parseInt(e.detail.id)!=0){
            this.view = 5;
            this.$.newTransactionFront.receiveNewTransactionResponse(e.detail);
          }else {
            this.$.listTransactionManager.callGetTransactions(e.detail);
          }

      }
      /*A esta función se llama cuando se recibe el custom-event loginresponse del componente dm-login-usuario.
      Si el id de la respuesta es mayor que 0 significa que el login se ha hecho con éxito. En este caso se guardan
      los datos del id del usuario, se setea la proprtie logged a true(para mostrar el componente logout-component) y se llama
      a la función callGetAccounts del componente dm-visor-cuentas, para mostrar la pagina de inicio, visor-cuentas
      con el listado de las cuentas del usuario.
      Si por el contrario l id es menor que 0 significa que ha habido un error. En este caso nos mantenemos en la vista login-usuario
      y mostramos el error correspondiente llamando a la función receiveLoginResponse del componente login-usuario.*/
      processLoginResponse(e){
        if (e.detail.id>0){
          this.id=e.detail.id;
          this.logged= true;
          this.$.listAccountManager.callGetAccounts(e.detail.id);
        }else{
          this.$.loginFront.receiveLoginResponse(e.detail);
        }
      }

      /*A esta función se llama cuando se recibe el custom-event listaccountsresponse
      del componente dm-visor-cuentas. Se cambia la vista a visor-cuentas para que muestre el
      resultado de la llamada al API pansandole los datos a mostrar
      a través de la función receiveAccountsResponse de visor-cuentas */
      processListAccountsResponse(e){
        this.view = "2";
        this.$.listAccountFront.receiveAccountsResponse(e.detail);
      }

      /*A esta función se llama cuando se recibe el custom-event responsenewuser del componente dm-alta-usuario.
      Si el id que devuelve el API es inferior a 0 significa que ha habido algún error en el proceso de alta.
      En este caso seguimos en la vista alta-usuario y mostramos el error obtenido llamando a la función receiveNewUserResponse
      de est componente..
      Si por el contrario el usuario se ha creado con exito se cambia la vista a login-usuario y se llama a la función
      showNewUserResponse de este componente para que muestre al usuario el resultado del proceso de alta.*/
      processNewUserResponse(e){
        if (e.detail.id<0){
          //llamar a alta usuario para mostrar error
          this.$.newUserFront.receiveNewUserResponse(e.detail);
        }else{
          this.view = 1;
          this.$.loginFront.showNewUserResponse();
        }
      }
      /*A esta función se llama cuando se recibe el custmo-event transactionslist del componente dm-visor-movimientos.
      Cambia la vista a visor-movimientos y le pasa los datos a mostrar a través de la función receiveTransactionsResponse de dicho componente.*/
      processListTransactionsResponse(e){
        e.detail.iban=this.iban;
        this.view = "4";
        this.$.listTransactionsFront.receiveTransactionsResponse(e.detail);
      }

      /*A esta función se llama cuando se recibe el custom-event logutresponse del componente dm-logout-component.
      Recibe como parámetro el JSON que ha devuelto la llamda al API.
      Si el id es menor que 0 significa que ha habido algún error en el proceso de logout.
      En este caso se muestra dicho error llamando a la función getLogoutErrorResponse dl componente logout-component para mostrarle el error al usuario.
      Si por el contrario el logout es exitoso se setean todas las properties a los valores iniciales y se muestra la vista login-usuario*/
      processLogoutResponse(e){
        if (parseInt(e.detail.id)<0){
          this.shadowRoot.querySelector("#logoutFront").getLogoutErrorResponse(e.detail);
        }else{
          this.id=0;
          this.iban="";
          this.balance=0;
          this.logged=false;
          this.view=1;
        }
      }
      /*A esta función se llama cuando se recibe el custom-event criptocurrencyresponse del componente dm-visor-criptodivisa.
      Recibe la información que devuelve la llamada al API a este servicio y se la pasa al componente visual para que se muestre
      la información al usuario llamando a la función receiveCryptocurrencyResponse del component visor-criptodivisa*/
      processCriptocurrencyResponse(e){
        this.view = 6;
        this.$.cryptocurrencyViewer.receiveCryptocurrencyResponse(e.detail);
      }
      /*A esta función se llama cuando se recibe el custom-event criptocurrencypriceresponse del componente dm-visor-criptodivisa-precio.
      Recibe la información que devuelve la llamada al API a este servicio y se la pasa al componente visual para que se muestre
      la información al usuario llamando a la función receiveCryptocurrencyResponse del component visor-criptodivisa-precio*/
      processCriptocurrencyPriceResponse(e){
        this.$.cryptocurrencyViewer.receiveCryptocurrencyPriceResponse(e.detail);
      }

    }

    window.customElements.define(GestorEvento.is, GestorEvento);
  </script>
</dom-module>
