<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../shared-styles/shared-styles.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">

<dom-module id="alta-usuario">
  <template>
    <style include="shared-styles">
    :host {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 25%;
      transform: translate(-50%, -50%);
    }
      .formStyles{
        color: #043263;
        border: 1.5px solid #043263;
        padding-top: 3%;
        padding-bottom: 3%;
        padding-left:8%;
        padding-right:8%;
        --iron-icon-height: 10%;
        --iron-icon-width: 10%;
      }

    </style>
    <div class="formStyles">
      <h1>Alta usuario</h1>
      <iron-form id="addUser" name="adduserName">
        <form>
          <iron-icon icon="icons:face" formnovalidate></iron-icon>
          <input name="name" type="text" pattern="[A-Za-z\s]*" placeholder="Nombre" maxlength="20" value ="{{first_name::input}}" required/>
          <iron-icon icon="icons:face" formnovalidate></iron-icon>
          <input name="surname" type="text" pattern="[A-Za-z\s]*" placeholder="Apellidos" maxlength="80" value ="{{last_name::input}}" required/>
          <iron-icon icon="icons:mail" formnovalidate></iron-icon>
          <input name="email" type="email" placeholder="email" maxlength="30" value ="{{email::input}}" required/>
          <iron-icon icon="icons:lock" formnovalidate></iron-icon>
          <input name="password" type="password" placeholder="password" value ="{{password::input}}" required/>
          <div>
            <button on-click="sendNewUserDataRequest">Enviar</button>
          </div>
        </form>
      </iron-form>
      <div>
        <h3 class="errorMessageStyle"><iron-icon hidden$=[[!showErrorIcon]] icon="icons:error"></iron-icon>[[errorMessage]]</h3>
      </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class AltaUsuario extends Polymer.Element {
      static get is() { return 'alta-usuario'; }
      static get properties() {
        return {
          first_name: {
            type: String
          },
          last_name: {
            type: String
          },
          email: {
            type: String
          },
          password: {
            type: String
          },
          errorMessage: {
            type: String,
            value: ""
          },showErrorIcon:{
            type:Boolean,
            value:false
          }
        };
      }

      //Resquest.
      /*Enviamos datos del nuevo usuario si el formulario contiene la información necesaria.
      Esta función se llama cuando el usuario pulsa el botón "Enviar" para dar de alta un nuevo usuario.
      Se construye el custom event necesario que se enviará al componente gestor-evento para enviar dicha request al API*/
      sendNewUserDataRequest(e){
        //si el formulario se ha completado correctamente enviamos evento a gestor-eventos para que llame al API
        if (this.$.addUser.validate()) {
          //reseteamos la variables de error por si estuvieran rellenas de un intento de alta anterior.
          this.errorMessage="";
          this.showErrorIcon=false;
          this.dispatchEvent(
              new CustomEvent(
                "myeventcreateuser",{
                  "detail":{
                    "first_name": this.first_name,
                    "last_name": this.last_name,
                    "email":this.email,
                    "password":this.password
                  }
                }
              )
          );
        }else {
          console.log("datos formulario incorrecto");
        }

      }

      //Response
      /*Si se llama a esta función es porque el alta no se ha hecho correctamente.
      Se recoge el error devuelto por el API y se muestra al usuario.*/
      receiveNewUserResponse(data){
        this.errorMessage = data.message;
        this.showErrorIcon=true;
      }
    }

    window.customElements.define(AltaUsuario.is, AltaUsuario);
  </script>
</dom-module>
