<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="dm-visor-movimientos">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <iron-ajax
      id="getTransactions"
      url="http://apitechumontse2-apitechufinal.a3c1.starter-us-west-1.openshiftapps.com/apitechu/v2/accounts/{{iban}}/transactions"
      content-type="application/json"
      handle-as="json"
      on-response="manageGetTransactionsResponse"
      on-error="showError">
    </iron-ajax>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DmVisorMovimientos extends Polymer.Element {
      static get is() { return 'dm-visor-movimientos'; }
      static get properties() {
        return {
          iban: {
            type: String
          }
        };
      }
      /*A esta función se llama desde gestor-evento cuando el usuario desea ver
      el listado de movimientos de una cuenta. Recibe como parametro el id de la cuenta
       de la cual se quieren obtener sus movimientos*/
      callGetTransactions(data){
        this.iban=data.iban;
        this.$.getTransactions.generateRequest();
      }
      /*Esta función recibe la respuesta del api. El contenido de la misma esta en la variable data.
      Se envia dicha info a gestor-evento a través de un custom event para que envie los datos
      al componente visual*/
      manageGetTransactionsResponse(data) {
        this.dispatchEvent(
            new CustomEvent(
              "myeventtransactionslist",{
                "detail":{
                  "id":data.detail.response.id,
                  "message":data.detail.response.message,
                  "transactions":data.detail.response.transactions
                }
              }
            )
        );
      }

      /*A esta función se llama cuando la llamada al api con iron-ajax ha sufrido algún error
      Envia al front un mensaje de error indicando lo ocurrido*/
      showError(error){
        console.log("Hubo un error en el dm-visor-movimientos "+error);
        this.dispatchEvent(
            new CustomEvent(
              "myeventtransactionslist",{
                "detail":{
                  "id":-400,
                  "message":"Error en el sistema por favor contacte con su gestor"
                }
              }
            )
        );
      }
    }

    window.customElements.define(DmVisorMovimientos.is, DmVisorMovimientos);
  </script>
</dom-module>
