<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<!-- -->
<dom-module id="dm-alta-movimiento">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <iron-ajax
      id="doNewTransaction"
      method = "POST"
      url="http://apitechumontse2-apitechufinal.a3c1.starter-us-west-1.openshiftapps.com/apitechu/v2/transactions"
      content-type="application/json"
      handle-as="json"
      on-response="manageCreateTransactionResponse"
      on-error="showError">
    </iron-ajax>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DmAltaMovimiento extends Polymer.Element {
      static get is() { return 'dm-alta-movimiento'; }
      static get properties() {
        return {
        };
      }
      /*A esta función se llama desde gestor-evento cuando este componente recibe el
      custom event del componente alta-movimiento para la creación de una nueva transación*/
      createNewTransaction(data){
        var newTransaction = {
          "iban":data.iban,
          "transactionType": data.transactionType,
          "amount": data.amount,
          "balance":data.balance,
          "ibanDest": data.ibanDest
        };
        this.$.doNewTransaction.body = JSON.stringify(newTransaction);
        this.$.doNewTransaction.generateRequest();
      }

      /*Esta función recibe la respuesta del api. El contenido de la misma esta en la variable data.
      Se envia dicha info a gestor-evento a través de un custom event para que envie los datos al componente visual correspondiente*/
      manageCreateTransactionResponse(data) {
        this.dispatchEvent(
            new CustomEvent(
              "myeventsendnewtransaction",{
                "detail":{
                  "id": data.detail.response.id,
                  "message": data.detail.response.message
                }
              }
            )
        );
      }

      /*A esta función se llama cuando la llamada al api con iron-ajax ha sufrido algún error
      Envia al front un mensaje de error indicando lo ocurrido*/
      showError(error){
        console.log("Hubo un error en el dm-alta-movimiento "+error);
        this.dispatchEvent(
            new CustomEvent(
              "myeventsendnewtransaction",{
                "detail":{
                  "id": -400,
                  "message": "Error en el sistema por favor contacte con su gestor"
                }
              }
            )
        );      }
    }

    window.customElements.define(DmAltaMovimiento.is, DmAltaMovimiento);
  </script>
</dom-module>
