<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="dm-login-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <iron-ajax
      id="doLogin"
      method = "POST"
      url="http://apitechumontse2-apitechufinal.a3c1.starter-us-west-1.openshiftapps.com/apitechu/v2/login"
      content-type="application/json"
      handle-as="json"
      on-response="manageLoginResponse"
      on-error="showError">
    </iron-ajax>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DmLoginUsuario extends Polymer.Element {
      static get is() { return 'dm-login-usuario'; }
      static get properties() {
        return {
        };
      }
      /*A esta función se llama desde gestor-evento cuando este componente recibe el custom event
      del componente visual login-usuario.*/
      callLogin(data){
        var loginData = {
          "email": data.email,
          "password": data.password
        };
        //accedo al shadow-dom funcion doLogin y le paso el objeto loginData en formato string
        this.$.doLogin.body = JSON.stringify(loginData);
        //hacemos el envio
        this.$.doLogin.generateRequest();
      }

      /*Esta función recibe la respuesta del api. El contenido de la misma esta en la variable data.
      Se envia dicha info a gestor-evento a través de un custom event para que envie los datos
      al componente visual*/
      manageLoginResponse(data) {
        //creo evento que envia respuesta del API al gestor-eventos
        this.dispatchEvent(
            new CustomEvent(
              "myeventloginresponse",{
                "detail":{
                  "id":data.detail.response.id,
                  "message":data.detail.response.message
                }
              }
            )
        );
      }

      /*A esta función se llama cuando la llamada al api con iron-ajax ha sufrido algún error
      Envia al front un mensaje de error indicando lo ocurrido*/
      showError(error){
        console.log("Hubo un error en el dm-login-usuario "+error);
        //creo evento que envia respuesta del API al gestor-eventos
        this.dispatchEvent(
            new CustomEvent(
              "myeventloginresponse",{
                "detail":{
                  "id":-400,
                  "message":"Error en el sistema por favor contacte con su gestor"
                }
              }
            )
        );
      }
    }

    window.customElements.define(DmLoginUsuario.is, DmLoginUsuario);
  </script>
</dom-module>
