<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/vaadin-combo-box/vaadin-combo-box.html">
<link rel="import" href="../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../shared-styles/shared-styles.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">

<dom-module id="alta-movimiento">
  <template>
    <style  include="shared-styles">
      :host {
        display: block;
      }
      .buttonTransactionsNew {
        width:20%;
        padding:2%;
      }
      .inputTransaction{
        font-size: 1.2vw;
        border: 1px solid #043263;
        border-radius: 4px;
        box-sizing: border-box;
        padding: 2% 2%;
        width: auto;
        color: #043263;
        margin-top:2%;
      }
      #formAlta{
        border: 1.5px solid #043263;
        padding: 3.5%;
        width:40%;
        --iron-icon-height: 5%;
        --iron-icon-width: 5%;
      }
    </style>
    <div class="marginAll">
      <h2>Alta movimiento. Cuenta [[iban]]</h2>
      <iron-form name="formAltaName" id="formAlta">
        <form>
          <vaadin-combo-box name="transactionTypeComboName" id="transactionTypeCombo"  placeholder="Tipo transacción" item-label-path="name" item-value-path="value" items="[[comboValues]]" on-selected-item-changed="changeTransactionType"  error-message="Campo obligatorio" required>
          </vaadin-combo-box>
          <div>
            <iron-icon icon="icons:euro-symbol"></iron-icon>
            <input class="inputTransaction" name="AmountInputName" id="idAmountInput" placeholder="Cantidad(€)" type="number" step="any" min="5" max="999999" value="{{amount::input}}" required/>
          </div>
          <div hidden$=[[!isTransferencia]]>
            <iron-icon icon="icons:account-balance"></iron-icon>
            <input class="inputTransaction" name="IbanDestInputName" id="idIbanDestInput" placeholder="Cuenta destino" type="text" value="{{ibanDest::input}}" formnovalidate/>
          </div>
          <div>
            <button class="buttonTransactionsNew" name="sendButtonName" on-click="sendNewTransactionData">Enviar</button>
            <button class="buttonTransactionsNew" name="cancelButtonName" on-click="goBack" formnovalidate>Cancelar</button>
          </div>
        </form>
      </iron-form>
      <h3 class="errorMessageStyle"><iron-icon class="iconWarning" hidden$=[[!showErrorIcon]] icon="icons:error"></iron-icon>[[errorMessage]]</h3>
    </div>
  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */

    class AltaMovimiento extends Polymer.Element {
      static get is() { return 'alta-movimiento'; }
      static get properties() {
        return {
          amount: {
            type: Number,
          },
          transactionType: {
            type: Number
          },
          iban: {
            type: String
          },
          ibanDest: {
            type: String
          },
          isTransferencia:{
            type: Boolean,
            value: false
          },
          comboValues:{
            type: Object,
            value: [
              {name: 'Ingreso', value: 1},
              {name: 'Cobro', value: 2},
              {name: 'Transferencia', value: 3}
            ]
          },
          showErrorIcon:{
              type : Boolean,
              value : false
          },
          errorMessage:{
            type: String,
            value: ""
          }
        };
      }
      /*A esta función se llama cada vez que se cambia el valor del combo.
      Se comprueba previamente que es un valor valido y si es así se cambia el
      valor de la propertie transaction type*/
      changeTransactionType(e){
        this.$.transactionTypeCombo.validate();
        if (this.$.transactionTypeCombo.checkValidity()){
          this.transactionType = this.$.transactionTypeCombo.selectedItem.value;
          if (this.transactionType==3){
            this.isTransferencia=true;
          }
          else{
            this.isTransferencia=false;
          }
        }else {
          console.log("opción tipo movimiento invalida");
          this.isTransferencia=false;
        }
      }
      //requests
      /* A esta función se llama cuando el usuario pulsa el botón cancelar. Envia un CustomEvent
      a gestor-evento para que camie a visor-cuentas*/
      goBack(e){
        this.dispatchEvent(
            new CustomEvent(
              "myeventbackaccounts",{
              }
            )
        );
      }

      /*A esta función se llama cuando el usuario pulsa el boton enviar para crear el movimiento
      Se validan los campos del formulario, y si todo el correcto se envía un custom-event a gestor-evento
      para que llame al servicio del API de creación de movimientos. */
      sendNewTransactionData(e){
        if (this.$.formAlta.validate()&&
              ((this.transactionType!=3)||((this.transactionType==3)&&(this.ibanDest!="")))
           ){
          this.dispatchEvent(
              new CustomEvent(
                "myeventcreatetransaction",{
                  "detail":{
                    "amount": this.amount,
                    "transactionType": this.transactionType,
                    "ibanDest":this.ibanDest
                  }
                }
              )
          );
        }else{
          console.log("El formato del formulario es incorrecto");
        }
      }

    //responses
    /*A esta función solo se llama si se ha producido un error en la creación
    del movimiento. Se llama desde gestor-evento enviado los datos que ha devuelto la llamada
    al servicio del api de alta de movimentos.*/
    receiveNewTransactionResponse(data){
      this.iban=data.iban;
      this.errorMessage = data.message;
      this.showErrorIcon = true;
    }

    /*A esta función se llama desde gestor-evento cuando el usuario a selecionado la opción de crear un movimiento
    ya sea desde visor-cuentas o visor-movimientos.
    Se resetean los valores del formulario por si estuvieran rellenos de antes.*/
    receiveAccountData(data){
      //resetear properties
      this.amount = 0;
      this.transactionType=0;
      this.ibanDest="";
      this.isTransferencia = false;
      this.$.formAlta.reset();
      this.errorMessage="";
      this.showErrorIcon=false;
      this.iban = data.iban;
    }


  }
    window.customElements.define(AltaMovimiento.is, AltaMovimiento);
  </script>
</dom-module>
