<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="dm-logout">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <iron-ajax
      id="doLogout"
      method = "POST"
      url="http://apitechumontse2-apitechufinal.a3c1.starter-us-west-1.openshiftapps.com/apitechu/v2/logout"
      content-type="application/json"
      handle-as="json"
      on-response="manageLogoutResponse"
      on-error="showError">
    </iron-ajax>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DmLogout extends Polymer.Element {
      static get is() { return 'dm-logout'; }
      static get properties() {
        return {
          id: {
            type: Number
          }
        };
      }
      /*A esta función se llama desde gestor-evento cuando este componente recibe el custom event
      del componente visual logout-component.*/
      callLogout(data){
        this.id = data;
        //hacemos el envio
        this.$.doLogout.body = JSON.stringify(data);
        this.$.doLogout.generateRequest();
      }

      /*Esta función recibe la respuesta del api. El contenido de la misma esta en la variable data.
      Se envia dicha info a gestor-evento a través de un custom event para que envie los datos al componente visual*/
      manageLogoutResponse(data) {
        this.dispatchEvent(
            new CustomEvent(
              "myeventlogutresponse",{
                "detail":{
                  "id":data.detail.response.id,
                  "message":data.detail.response.message
                }
              }
            )
        );
      }

      /*A esta función se llama cuando la llamada al api con iron-ajax ha sufrido algún error
      Envia al front un mensaje de error indicando lo ocurrido*/
      showError(error){
        console.log("Hubo un error en el dm-logout");
        console.log(error);
        this.dispatchEvent(
            new CustomEvent(
              "myeventlogutresponse",{
                "detail":{
                  "id":-400,
                  "message":"Error en el sistema por favor contacte con su gestor"
                }
              }
            )
        );
      }
    }

    window.customElements.define(DmLogout.is, DmLogout);
  </script>
</dom-module>
